html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    190deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(34, 34, 48, 1) 100%
  );
  font-family: monospace;
  height: 100vh;
  margin: 0 auto;
}

.bot-info,
.bot-settings,
.main-info {
  color: white;
  float: left;
  margin: 10px;
  width: 400px;
  height: 200px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(111, 111, 111, 1) 100%
  );
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(50, 50, 50);
  position: relative;
}

.main-info {
  width: 300px;
  height: 500px;
  overflow: scroll;
  resize: none;
}
.bot-info h1,
.bot-settings h1,
.main-info h1 {
  text-align: center;
  position: absolute;
  font-size: 20px;
  color: aliceblue;
  top: 0.1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-info p {
  font-size: 18px;
  margin: 10px 0;
}

.main-info span {
  font-weight: 600;
}

.main-info {
  overflow-y: auto;
  overflow-x: hidden;
}

.bot-settings div {
  margin-bottom: 10px;
  font-family: monospace;
  font-weight: 600;
}
.bot-settings {
  padding: 10px
}

.main-info::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.main-info::-webkit-scrollbar-corner {
  background-color: transparent;
}
.main-info::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.main-info::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

body::-webkit-scrollbar {
  background-color: transparent;
}


